
/*           STILOVI ZA FORMI          */

.naslov-formi {
    padding: 3.5%;
    background-color: #F58566 !important;
    color: white;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    border-radius: 6px;
    font-size: 300% !important;
}

.div-formi {
    border-radius: 6px;
    background: #e8e4d8;
    padding-left: 7.5% !important;
}


.default .kopce-formi {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

    .default .kopce-formi:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

.default:hover .kopce-formi {
    padding-right: 25px;
}

    .default:hover .kopce-formi:after {
        opacity: 1;
        right: 0;
    }



.nazad-formi {
    color: black !important;
    border-radius: 6px;
    padding: 2px;
    font-size: medium;
    font-family: Impact, Charcoal, sans-serif;
}

a {
    color: black !important;
}



.borderUs:focus {
        border-color: #F58566 !important;
        box-shadow: 0 0px 1px #F58566, 0 0 8px #F58566 !important;
}


select option:active {
    background-color: white !important;
    color: #F58566 !important;
}

/*              STILOVI ZA PROFILI                        */


header-profil {
    font-size: 300% !important;
    text-align:left;
    padding: 5px;
}

.naslov-profil {
    margin-top: 5%;
    margin-left: 3%;
    display: inline-block;
}

.slika-profil {
    max-width: 350px;
    float: left;
    border-radius: 6px;
    box-shadow: 0 8px 6px -6px gray;
}

.info-profil {
    border-radius: 6px;
    box-shadow: 8px 8px 6px -6px gray;
    background-color: #f8f8f8 !important;
    padding-left: 20%;
    padding-top:7%;
    padding-bottom:5%;
    color: #0F1A20;
}
