body {
}

.navbar-inverse {
    background-color: white !important;
    border-color: white !important;
}

.container body-content {
    background-color: #F58566 !important;
}

.tekst-footer {
    float: right;
}

.div-logo{
    float:left;
}

.margin-y-1p {
    margin: 1% 0 1% 0;
}


.margin-y-1p {
    margin: 1% 0 1% 0;
}

.margin-x-1p {
    margin: 0 1% 0 1%;
}

.colum-30p {
    width: 30%;
}

