@{
    ViewBag.Title = "За нас";
}
<h2>@ViewBag.Title</h2>
<br />


<div class="jumbotron">
    <div class="container">
        

        <div class="row margin-y-1p">
            <div class="col-xs-1 table-bordered img-rounded margin-x-1p colum-30p" style="background:white !important">
                <div class="panel-heading">
                    <h3 class="text-center"><b>Милена</b></h3>
                </div>
                <div class="panel-body">
                    <img class="img-rounded"
                         style="max-width:100%"
                         src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045"
                         alt="SLIKATA JA NAJDOV NA NEEET" />
                </div>
                <div class="panel-footer bg-transparent">
                    <button class="btn btn-block default " type="button" 
                            onclick="location.href='https://instagram.com/mimiii.t?igshid=1rk1hllbfmtua'"
                            ><span>Види повеќе</span></button>                
                </div>
            </div>
            <div class="col-xs-1 table-bordered img-rounded margin-x-1p colum-30p" style="background:white !important">
                <div class="panel-heading">
                    <h3 class="text-center"><b>Вероника</b></h3>
                </div>
                <div class="panel-body">
                    <img class="img-rounded"
                         style="max-width:100%"
                         src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" 
                         alt="SLIKATA JA NAJDOV NA NEEET" />
                </div>
                <div class="panel-footer bg-transparent">
                    <button class="btn btn-block default " type="button"
                            onclick="location.href='https://instagram.com/v.ognjanovska?igshid=1th6sqqtvfshm'">
                        <span>Види повеќе</span>
                    </button>
                </div>
            </div>
            <div class="col-xs-1 table-bordered img-rounded margin-x-1p colum-30p" style="background:white !important">
                <div class="panel-heading">
                    <h3 class="text-center"><b>Анастасија</b></h3>
                </div>
                <div class="panel-body">
                    <img class="img-rounded"
                         style="max-width:100%"
                         src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045"
                         alt="SLIKATA JA NAJDOV NA NEEET" />
                </div>
                <div class="panel-footer bg-transparent">
                    <button class="btn btn-block default " type="button"
                            onclick="location.href='https://www.instagram.com/petrovska.anastasija/?hl=en'">
                        <span>Види повеќе</span>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12" >
                <p style="padding:2%;text-align:center">Ние се помачивме. Сега е ваш ред. Ставете ни 10тка во IKNOW</p>
            </div>
        </div>
    </div>

</div>