@{
    ViewBag.Title = "За нас";
}
<h2 style="text-align: center">@ViewBag.Title</h2>
<br />


<div class="jumbotron">
    <div class="container">
        

        <div class="row margin-y-1p">
            <div class="col-xs-1 table-bordered img-rounded margin-x-1p colum-31p" style="background:white !important">
                <div class="panel-heading">
                    <h3 class="text-center"><b>Милена</b></h3>
                </div>
                <div class="panel-body">
                    <img class="img-rounded"
                         style="max-width:240px; max-height:240px"
                         src="https://scontent.fskp2-1.fna.fbcdn.net/v/t31.0-8/p960x960/27173132_1801418896558070_3758779621350722875_o.jpg?_nc_cat=104&_nc_sid=7aed08&_nc_ohc=vbynOmgpVD0AX-G898v&_nc_ht=scontent.fskp2-1.fna&tp=6&oh=403b687f0fb3ec1a96f393ad60b3e168&oe=5F845C6F"
                         alt="Slika Milena" />
                </div>
                <div class="panel-footer bg-transparent">
                    <button class="btn btn-block default " type="button" 
                            onclick="location.href='https://instagram.com/mimiii.t?igshid=1rk1hllbfmtua'"
                            ><span>Види повеќе</span></button>                
                </div>
            </div>
            <div class="col-xs-1 table-bordered img-rounded margin-x-1p colum-31p" style="background:white !important">
                <div class="panel-heading">
                    <h3 class="text-center"><b>Вероника</b></h3>
                </div>
                <div class="panel-body">
                    <img class="img-rounded"
                         style="max-width:240px; max-height:240px"
                         src="https://i.pinimg.com/474x/b6/f2/01/b6f201ac90e788ae648fee617d6c31e7.jpg" 
                         alt="Slika Veronika" />
                </div>
                <div class="panel-footer bg-transparent">
                    <button class="btn btn-block default " type="button"
                            onclick="location.href='https://instagram.com/v.ognjanovska?igshid=1th6sqqtvfshm'">
                        <span>Види повеќе</span>
                    </button>
                </div>
            </div>
            <div class="col-xs-1 table-bordered img-rounded margin-x-1p colum-31p" style="background:white !important">
                <div class="panel-heading">
                    <h3 class="text-center"><b>Анастасија</b></h3>
                </div>
                <div class="panel-body">
                    <img class="img-rounded"
                         style="max-width:240px; max-height:240px"
                         src="https://scontent.fskp2-1.fna.fbcdn.net/v/t1.0-9/11070506_1075359855824694_942020851806146124_n.jpg?_nc_cat=105&_nc_sid=7aed08&_nc_ohc=-3C344a9_oEAX-XTkYF&_nc_ht=scontent.fskp2-1.fna&oh=c51ff68c0c36835aafd8d4d8b4e10e79&oe=5F836ED6"
                         alt="slika Anastasija" />
                </div>
                <div class="panel-footer bg-transparent">
                    <button class="btn btn-block default " type="button"
                            onclick="location.href='https://www.instagram.com/petrovska.anastasija/?hl=en'">
                        <span>Види повеќе</span>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12" >
                <p style="padding:2%;text-align:center">Ентузијасти и секогаш расположени за нови знаења.</p>
            </div>
        </div>
    </div>

</div>