@{
    ViewBag.Title = "Контакт";
}
<h2>@ViewBag.Title</h2>
<br />

<div id="div-isprati-poraka">
    <h4>Испрати ни порака!</h4>
    <address>
        <b>Испрати на</b>  <a href="mailto:contact@mybeauty.com">contact@mybeauty.com</a><br />
    </address>
</div>



<div id="div-adresa-contact">
    <h4>Адреса</h4>
    <address>
        Бул. Партизански Одреди бр.18<br />
        1000 Скопје<br />
        <abbr title="Телефонски број">Тел:</abbr>
        02/223305
    </address>
</div>

<br />

<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.8595983732266!2d21.392356314819263!3d42.0032886655507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1354146956f0209f%3A0xff06ac0ad18f890c!2sBlvd.%20Partizanski%20Odredi%2C%20Skopje%201000!5e0!3m2!1sen!2smk!4v1597317442694!5m2!1sen!2smk" width="100%" height="50%"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

