@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 d-inline-block">
                <img class="img-rounded"
                     style="max-width:100%"
                     src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Photo-1439894671367-1904e126d8f1.jpg"
                     alt="SLIKATA JA NAJDOV NA NEEET" />
            </div>
            <div class="col-lg-6 h-100 d-inline-block">
                <p>
                    One morning, about a week after Bingley’s engagement with Jane had been formed, as he and the females of the family were sitting together in the dining-room, 
                    their attention was suddenly drawn to the window, by the sound of a carriage; and they perceived a chaise and four driving up the lawn. 
                    It was too early in the morning for visitors, and besides, the equipage did not answer to that of any of their neighbours. 
                    The horses were post; and neither the carriage, nor the livery of the servant who preceded it, were familiar to them. 
                    
                </p>
            </div>
        </div>
    </div>

</div>