
@{
    ViewBag.Title = "Салони";
}

<h2>Салони</h2>



<div class="jumbotron">
    <div class="container">
        <div class="row margin-y-1p">
            <div class="col-lg-12 h-100 d-inline-block">
                <h3><b>ПРЕБАРУВАЈТЕ ПО ГРАД</b></h3>
                <h5>Внесете го градот во празното поле за кој што сакате да пребарате салони.</h5>
               
                <div>
                    @using (Ajax.BeginForm("searchTown", "Home",
                                        new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "GET",
                                            OnFailure = "searchFailed",
                                            LoadingElementId = "ajax-loader",
                                            UpdateTargetId = "searchResults"
                                        }))
                    {
                        @*<div class="col-lg-6 h-100 d-inline-block">

                            <div class="panel-body" style="align-content:center">
                                <input type="text" id="town" />
                            </div>

                            <div class="panel-footer bg-transparent">
                                <button class="btn btn-block default " type="button"><span>Пребарај</span></button>
                                <input type="submit" class="btn btn-block default "
                                       value="search" onclick="myFunction()" />

                            </div>
                        </div>*@

                        <div class="row margin-y-1p">
                            <div class="col-lg-1 h-100 w-32-f-left">
                                <input type="text" name="town" id="town" class="input-r w-100-mine"/>
                            </div>
                            <div class="col-lg-1 h-100 w-32-f-left">
                                <input type="submit" class="btn btn-block default w-100-mine"
                                       value="search" />
                            </div>
                        </div>
                        <div style="display:none">
                            <img id="ajax-loader" src="@Url.Content("~/UserImages/ajax-loader.gif")"
                                 style=" max-width: 50%; margin: 0 25%;"/>
                        </div>
                    }

                </div>
                <div id="searchResults">

                    <table id="searchTable" class="table">
                        <thead>

                        </thead>
                        <tbody>

                        </tbody>   
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row margin-y-1p">
            <div class="col-lg-6 h-100 d-inline-block">
                <h3><b>НАЈДОБРИТЕ САЛОНИ ВО ЗЕМЈАТА</b></h3>
                <h5>Со само еден клик ги добивате најважните информации за секој од петте најдобри салони во земјата.</h5>
            </div>
            <div class="col-lg-6 h-100 d-inline-block">
                <p>листа топ 5 салони</p>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row margin-y-1p">
            <div class="col-lg-6 h-100 d-inline-block">
                <h3><b>НОВИ САЛОНИ</b></h3>
                <h5>Со само еден клик ги добивате најважните информации за најновите салони во земјата.</h5>
            </div>
            <div class="col-lg-6 h-100 d-inline-block">
                <p>листа топ 5 салони</p>
            </div>
        </div>
    </div>

</div>

@section Scripts{

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(".table #searchTable").DataTable();
        console.log("no!");

        function myFunction() {
            $(".table #searchTable").DataTable();
            console.log("no!");
        }
           
        $(document).ajaxComplete(function () {
            myFunction();
        });
    </script>

}

@*




        public ActionResult searchTown(string town)
        {
            var salons = GetSalons(town);
            return PartialView(salons);
        }
        private List<Salon> GetSalons(string town)
        {
            return _context.Salons.Where(s => s.City.Contains(town)).ToList();
        }





         @model IEnumerable<Proba.Models.Salon>

    @{
        ViewBag.Title = "searchTownTable";
    }

        <div id="searchResults">
            <ul>
                @foreach(var item in Model)
                {
                    <li>@item.Name</li>
                }
            </ul>
        </div>


*@