
@{
    ViewBag.Title = "Салони";
}

<h2>Салони</h2>



<div class="jumbotron">
    <div class="container">
        <div class="row margin-y-1p">
            <div class="col-lg-6 h-100 d-inline-block">
                <h3><b>ПРЕБАРУВАЈТЕ ПО ГРАД</b></h3>
                <h5>Внесете го градот во празното поле за кој што сакате да пребарате салони.</h5>
            </div>
            <div class="col-lg-6 h-100 d-inline-block">

                <div class="panel-body" style="align-content:center">
                    <input type="text" id="input-grad"  />
                </div>

                <div class="panel-footer bg-transparent">
                    <button class="btn btn-block default " type="button"><span>Пребарај</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row margin-y-1p">
            <div class="col-lg-6 h-100 d-inline-block">
                <h3><b>НАЈДОБРИТЕ САЛОНИ ВО ЗЕМЈАТА</b></h3>
                <h5>Со само еден клик ги добивате најважните информации за секој од петте најдобри салони во земјата.</h5>
            </div>
            <div class="col-lg-6 h-100 d-inline-block">
                <p>листа топ 5 салони</p>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row margin-y-1p">
            <div class="col-lg-6 h-100 d-inline-block">
                <h3><b>НОВИ САЛОНИ</b></h3>
                <h5>Со само еден клик ги добивате најважните информации за најновите салони во земјата.</h5>
            </div>
            <div class="col-lg-6 h-100 d-inline-block">
                <p>листа топ 5 салони</p>
            </div>
        </div>
    </div>

</div>

